$primary-color: #4CAF50;
$dark-primary-color: #388E3C;
$light-primary-color: #C8E6C9;
$text-icons: #FFFFFF;
$accent-color: #FF4081;
$primary-text: #212121;
$secondary-text: #727272;
$divider-color: #B6B6B6;
