<div class="page">
  <header>
    <h1 class="title"> (ng2) Product Hunt </h1>
  </header>

  <div class="main-container">

    <navbar (refresh)="fetchPosts()"></navbar>

    <categories [isAuthenticated]="isAuthenticated" (filterBy)="filterPosts($event, c)"></categories>

    <section class="posts">
      <loadingSpinner [showAsync]="posts"></loadingSpinner>
      <div *ngFor="let p of posts | async" class="post">
        <div class="tile-header">
          <h3> {{ p.name }} </h3>
        </div>
        <div class="tile-body" [style.backgroundImage]="'url(' + p.thumbnail.image_url + ')'">
        </div>
        <div class="tile-footer" (click)="gotoDetail(p.id)">
          <button class="btn-link">Read more about this post</button>
        </div>
      </div>
    </section>

  </div>
</div>
