@import "../utils/palette";

button {
  background-color: $accent-color !important;
  color: white !important;
  padding: 10px 20px !important;
  &:hover {
    cursor: pointer;
  }
}

button.ph-button {
  border: 2px solid $accent-color;
}

button.ph-button:not([disabled]):hover {
  border: 2px solid white;
  transition: border 0.3s ease;
}

button[disabled] {
  opacity: 0.5;
}

button.btn-link {
  background-color: transparent !important;
  text-decoration: none !important;
  border: none !important;
  border-bottom: 2px solid white !important;
  padding: 0 !important;
}