ul.toolbar {
  width: 100%;
  background-color: $accent-color;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li.category {
    display: inline;
    width: 300px;
    height: 50px;
    line-height: 50px;
    padding: 5px 10px;
    border-right: 2px solid $divider-color;
    &:last-child {
      border-right: none;
    }

    &:hover span {
      border-bottom: 2px solid;
    }
  }

  li.category.active {
    font-size: 1.2em;
    font-weight: bold;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    span {
      border-bottom: 2px solid;
    }
  }
}