<div class="page">
  <header>
    <h1 class="title">NG-2 Hunt</h1>
  </header>

  <div class="main-container">

    <fieldset>
      <h3> Authentication </h3>
      <button class="md-button md-raised" (click)="authenticate(true)" disabled> Client only</button>
      <button class="md-button md-raised" [disabled]="isAuthenticated" (click)="authenticate(false)"> User </button>
    </fieldset>
    <fieldset>
      <h3> Resources </h3>
      <button class="md-button md-raised" [disabled]="!isAuthenticated" (click)="fetchProducts()"> Load Product List </button>
    </fieldset>

    <br />

    <div *ng-for="#p of posts | async" class="post">
      <h3> {{ p.name }} </h3>
      <p> {{ p.id}} </p>
      <img [src]="p.thumbnail.image_url" class="thumbnail"></img>
    </div>

  </div>
</div>
