* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #222222;
  color: white;
}

.page {
  text-align: center;
  margin: 20px;
}

.main-container {
  margin: 20px 0;
}

.main-container h3 {
  margin-top: 20px;
}

button {
  background-color: yellowgreen !important;
  color: #222222 !important;
  padding: 0 20px !important;
}
