<div class="page">
  <header>
    <h1 class="title">NG-2 Hunt</h1>
  </header>

  <navbar></navbar>

  <div class="main-container">

    <fieldset>
      <h3> Resources </h3>
      <button class="md-button md-raised" [disabled]="!isAuthenticated" (click)="fetchProducts()"> Refresh Product List </button>
    </fieldset>

    <br />

    <div *ng-for="#p of posts | async" class="post">
      <h3> {{ p.name }} </h3>
      <p> {{ p.id}} </p>
      <img [src]="p.thumbnail.image_url" class="thumbnail"></img>
      <button (click)="gotoDetail(p.id)">Read more about this post</button>
    </div>

  </div>
</div>
