<div class="page">
  <header>
    <h1 class="title"> (ng2) Product Hunt </h1>
  </header>

  <div class="main-container">
    <navbar (refresh)="fetchPosts()"></navbar>

    <categories></categories>

    <div *ng-for="#p of posts | async" class="post">
      <div class="tile-header">
        <h3> {{ p.name }} </h3>
      </div>
      <div class="tile-body" [style.background-image]="'url(' + p.thumbnail.image_url + ')'">
      </div>
      <div class="tile-footer" (click)="gotoDetail(p.id)">
        <button class="btn-link">Read more about this post</button>
      </div>
    </div>

  </div>
</div>
